@model JobPlatform.Web.ViewModels.Companies.CompanySimpleViewModel
@{
    this.ViewData["Title"] = "Companies";
}

@if (@Model != null)
{
    <h4>@this.ViewData["Title"]</h4>
    <hr />
    <div class="container col-12">
        <div class="row shadow-lg mb-2 bg-white rounded">
            <div class="w-auto h-auto rounded float-left card-img col-sm-2">
                <a asp-area="Employer" asp-action="Details" asp-route-id="@Model.Id">
                    <img src="@Model.LogoPicture" alt="@Model.CompanyName" class="fit-image">
                </a>
            </div>
            <div class="position-relative col-md-10">
                <h5 class="mt-0">@Model.CompanyName</h5>
                <p>@Model.ShortCompanyDescription</p>
                <a asp-area="Employer" asp-action="Details" asp-route-id="@Model.Id">See details</a> |
                <a asp-area="Employer" asp-controller="Jobs" asp-action="Index" asp-route-id="@Model.Id">See All Jobs</a>
            </div>
        </div>
    </div>
    <div>
        <hr \>
        <form asp-action="EditCompany" method="get" style="display: inline-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" id="edit" value="Edit" class="btn btn-info" /> |
        </form>
        <form asp-action="Details" style="display: inline-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" id="details" value="Details" class="btn btn-info" /> |
        </form>
        <form asp-action="Delete" style="display: inline-block">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" id="delete" value="Delete" class="btn btn-danger" />
        </form>
    </div>
}
else
{
    <h3>There is no Company profile!!!</h3>
    <h5>Do you want to create new one?</h5>
    <a class="btn btn-info" asp-area="Employer" asp-action="CreateCompany">Add Company</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
