@model JobPlatform.Web.ViewModels.Candidates.CandidateDetailsViewModel

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanitizeCv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotivationLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanitizeMotivationLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
