@using Microsoft.CodeAnalysis
@model JobPlatform.Web.ViewModels.Companies.CompanyByIdViewModel
@{
    this.ViewData["Title"] = "Jobs";
}
@if (Model == null)
{
    <h3>There is no Company profile!!!</h3>
    <h5>Do you want to create new one?</h5>
    <a class="btn btn-info" asp-controller="Company" asp-action="CreateCompany">Create New Company</a>
}
else if (!Model.Jobs.Any())
{
    <h3>There is no Jobs added to your company profile !!!</h3>
    <h5>Do you want to create new one?</h5>
    <a class="btn btn-info" asp-action="AddJob">Add New Job</a>
}
else
{
    <a class="btn btn-info" asp-action="AddJob">Add New Job</a>
    <hr />
    <div class="card shadow col-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="98%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>JobTitle</th>
                            <th>JobCategory</th>
                            <th>LocationCity</th>
                            <th>JobType</th>
                            <th>CompanyEmail</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model.Jobs)
                        {
                            <tr id="@job.Id">

                                <td>
                                    <p>@job.JobTitle</p>
                                </td>
                                <td>
                                    <p>@job.JobCategory</p>
                                </td>
                                <td>
                                    <p>@job.LocationCity</p>
                                </td>
                                <td>
                                    <p>@job.JobType</p>
                                </td>
                                <td>
                                    <p>@job.CompanyEmail</p>
                                </td>
                                <td>
                                    <p>@job.SanitizedContent</p>
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="EditJob" asp-route-id="@job.Id">Edit</a> |
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@job.Id">Details</a> |
                                    <a class="btn btn-danger" asp-action="DeleteJob" asp-route-id="@job.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
}
