@model IEnumerable<JobPlatform.Web.ViewModels.Jobs.JobSimpleViewModel>
@{
    this.ViewData["Title"] = "Jobs";
}
@if (Model.Any())
{
    <div class="card shadow col-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="98%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>JobTitle</th>
                            <th>JobCategory</th>
                            <th>LocationCity</th>
                            <th>JobType</th>
                            <th>CompanyEmail</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in this.Model)
                        {
                            <tr id="@job.Id">

                                <td>
                                    <p>@job.JobTitle</p>
                                </td>
                                <td>
                                    <p>@job.JobCategory</p>
                                </td>
                                <td>
                                    <p>@job.LocationCity</p>
                                </td>
                                <td>
                                    <p>@job.JobType</p>
                                </td>
                                <td>
                                    <p>@job.CompanyEmail</p>
                                </td>
                                <td>
                                    <p>@job.SanitizedContent</p>
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="Details" asp-route-id="@job.Id">Details</a> |
                                    <a class="btn btn-info" asp-action="ApplyToJob" asp-route-id="@job.Id">Apply Now</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

