@model JobPlatform.Web.ViewModels.Companies.CompanyByIdViewModel

@if (Model != null)
{
    <div class="card shadow col-12">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="userTable" width="98%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>JobTitle</th>
                            <th>JobCategory</th>
                            <th>LocationCity</th>
                            <th>JobType</th>
                            <th>CompanyEmail</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model.Jobs)
                        {
                            <tr id="@job.Id">

                                <td>
                                    <p>@job.JobTitle</p>
                                </td>
                                <td>
                                    <p>@job.JobCategory</p>
                                </td>
                                <td>
                                    <p>@job.LocationCity</p>
                                </td>
                                <td>
                                    <p>@job.JobType</p>
                                </td>
                                <td>
                                    <p>@job.CompanyEmail</p>
                                </td>
                                <td>
                                    <p>@job.SanitizedContent</p>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@job.Id">Details</a> |
                                    <a asp-action="ApplyToJob" asp-route-id="@job.Id">Apply To Job</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
}
