@model IEnumerable<JobPlatform.Web.ViewModels.Jobs.MyApplicationViewModel>
@{
    this.ViewData["Title"] = "My Applications";
}
<h4>@this.ViewData["Title"]</h4>
<hr />

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Company.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
