@model IEnumerable<JobPlatform.Web.ViewModels.Company.CompanySimpleViewModel>

@foreach (var item in Model)
{
    <div class="row shadow-lg mb-2 bg-white rounded">
        <div class="w-auto h-auto rounded float-left card-img col-2">
            <img src="@item.LogoPicture" alt="@item.CompanyName" class="fit-image">
        </div>
        <div class="col-md-10 position-static">
            <h5 class="mt-0">@item.CompanyName</h5>
            <p>@item.CompanyDescription</p>
            <a asp-action="Company" asp-route-id="@item.Id" class="stretched-link"></a>
        </div>
    </div>
}


@section Scripts {
    <style>.fit-image{
     width: 60%;
     object-fit: cover;
     height: 100px; /* only if you want fixed height */
 }</style>
}