@model JobPlatform.Web.ViewModels.Administration.Dashboard.Users.UsersViewModel
@{
    this.ViewData["Title"] = "User Admin Panel";
}B

<h1>@this.ViewData["Title"]</h1>

<form id="userForm" method="post"></form>
<div class="container">
    <input class="form-control mb-4" id="tableSearch" type="text" placeholder="Search User by User Name">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Full Name</th>
                        @foreach (var role in Model.Roles)
                        {
                            <th>@role.Name</th>
                        }
                    </tr>
                </thead>
                <tbody id="userTable">
                    @foreach (var user in this.Model.Users)
                    {
                        <tr id="@user.Id">
                            <td><a href="@user.Id" target="_blank">@user.UserName</a></td>
                            <td>@user.FullName</td>
                            @foreach (var roleId in Model.Roles)
                            {
                                @if (user.RolesName.FirstOrDefault(x => x
                                 == roleId.Name) != null)
                                {
                                    <td>
                                        <a href="#" style="color: green" onclick="changeRole('@user.Id', '@roleId.Id', false),reresh()">
                                            <div>
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="#" style="color: red" onclick="changeRole('@user.Id', '@roleId.Id', true),reresh()">
                                            <div>
                                                <i class="fa fa-times"></i>
                                            </div>
                                        </a>
                                    </td>
                                }
                            }

                        </tr>
                    }
                </tbody>
            </table>
</div>