@model IEnumerable<JobPlatform.Web.ViewModels.Candidates.CandidateSimpleViewModel>
@{
    this.ViewData["Title"] = "Candidates";
}
@if (@Model != null)
{
    <table class="table" id="userTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.ProfilePicture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MotivationLetter)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.User.ProfilePicture != null)
                        {
                            <img class="preview-img" src="@item.User.ProfilePicture" alt="Preview Image" width="80" height="80" />
                        }
                        else
                        {
                            <img class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortSanitizeCv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortSanitizeMotivationLetter)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.User.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>There is no Candidates</h3>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}