@model IEnumerable<JobPlatform.Web.ViewModels.Jobs.MyCandidatesViewModel>
@{
    this.ViewData["Title"] = "Candidates";
}
@if (@Model != null)
{
    <table class="table" id="userTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    Profile Picture
                </th>
                <th>
                    CV
                </th>
                <th>
                    Motivation Letter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
            <tr>
                <td>
                    @item.JobTitle
                </td>
                @foreach (var candidate in item.Candidates)
                {
                    <td>
                        @if (candidate.Candidate.User.ProfilePicture != null)
                        {
                            <img class="preview-img" src="@candidate.Candidate.User.ProfilePicture" alt="Preview Image" width="80" height="80" />
                        }
                        else
                        {
                            <img class="preview-img" src="http://simpleicon.com/wp-content/uploads/account.png" alt="Preview Image" width="200" height="200" />
                        }
                    </td>
                    <td>
                        @candidate.
                    </td>
                    <td>
                        @candidate.Candidate.Cv
                    </td>
                    <td>
                        @candidate.Candidate.MotivationLetter
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@candidate.Candidate.User.Id">Details</a>
                    </td>

                }
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>There is no Candidates</h3>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}